{{!-- Titulinis puslapis taip --}}


<body style="background-color:{{spalva}};"></body>
<form method="post">
    <input type="checkbox"  name="kodas" value="1" checked hidden>
    <button type="submit">Keisti fono spalva</button>
</form>



</body>

